{
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "printWidth": 100,
  "overrides": [
    {
      "files": "**/*.hbs",
      "options": {
        "parser": "angular"
      }
    }
  ]
}
