button {
  border-color: transparent;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 10px 10px;
  font-size: 13px;
  background-color: var(--chat-accent);
  cursor: pointer;
  color: var(--chat-white);
}

.button--full {
  width: 100%;
}
.button--full {
  width: 100%;
  display: inline-flex;
  justify-content: center;
}
