ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 36px;
  justify-content: center;
}

ul > li > a {
  font-size: 20px;
}

h1 {
  text-align: center;
}

.home-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
