.profile {
  padding-top: 60px;
  flex: 1;
}

.profile__list {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 510px;
  margin: auto;
  font-size: 13px;
}

.profile__row {
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
  border-bottom: 1px solid var(--chat-border-grey);
  font-size: 14px;
}

.profile__label {
  font-weight: 600;
}

input.profile__value {
  color: #999;
  max-width: 60%;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: transparent;
  border-color: transparent;
  padding-right: 0;
}

.profile__top {
  text-align: center;
}

.profile__list--actions {
  margin-top: 60px;
}

.profile__list--actions button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 13px;
  padding: 0;
}

.profile__list .profile__row:last-child {
  border: none;
}
