@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --chat-accent: #3369f3;
  --chat-accent-lighten-10: #4473eb;
  --chat-border-grey: #eaeaea;
  --chat-text-grey: #999;
  --chat-text-black: #1e1e1e;
  --chat-link: #3369f3;
  --chat-link-hover: #4071eb;
  --chat-white: #fff;
  --chat-white-soft: #fbfbfb;
  --chat-input-bg: #efefef;
  --chat-button-hover-border: #646cff;
  --chat-danger: #f00;
  --chat-base-dark: #213547;
  --chat-link-hover-light: #747bff;
  --chat-button-bg-light: #f9f9f9;
  --chat-shadow: rgb(0 0 0 / 14%);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  color: var(--chat-text-black);
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--chat-link);
  text-decoration: inherit;
}

a:hover {
  color: var(--chat-link-hover);
}

.text-red {
  color: var(--chat-danger);
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  width: 100%;
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
}

.border-bottom {
  border-bottom: 1px solid var(--chat-border-grey);
}

.notification-bubble {
  background-color: var(--chat-accent);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.avatar--sm {
  width: 34px;
  height: 34px;
}

.avatar--md {
  width: 47px;
  height: 47px;
}

.avatar--lg {
  width: 130px;
  height: 130px;
}

/*
  Back to start
*/

.back-to {
  background-color: var(--chat-white-soft);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 18px;
  border-right: 1px solid var(--chat-border-grey);
  position: fixed;
  left: 0;
  height: 100%;
}

.back-to__btn {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--chat-accent);
  transform: rotate(180deg);
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

.back-to__btn:hover {
  background-color: var(--chat-accent-lighten-10);
}

/*
  Back to end
*/

.card {
  border-radius: 12px;
  box-shadow: 0 0 6px var(--chat-shadow);
  width: 340px;
  margin: auto;
  padding: 30px;
}

.content-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/*
  Utility start
*/

.text-center {
  text-align: center;
}

.text-sm {
  font-size: 13px;
}

.hidden {
  display: none;
}

.w-full {
  width: 100%;
}

/*
  Utility end
*/

.error-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error-page__code {
  line-height: 1;
  margin: 0;
}

.error-page__message {
  font-size: 20px;
}

.error-page__link {
  font-size: 11px;
}

.chat-app__profile {
  max-width: 510px;
  margin: 0 auto;
}

/*
  Form start
*/

.form__title {
  text-align: center;
}

.form__list-fields {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form__actions {
  margin-top: 20px;
}

/*
  Form end
*/
