@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --chat-accent: #3369f3;
  --chat-accent-lighten-10: #4473eb;
  --chat-border-grey: #eaeaea;
  --chat-text-grey: #999999;
  --chat-text-black: #1e1e1e;
  --chat-link: #3369f3;
  --chat-link-hover: #4071eb;
  --chat-white: #ffffff;
  --chat-white-soft: #fbfbfb;
  --chat-input-bg: #efefef;
  --chat-button-hover-border: #646cff;
  --chat-danger: #ff0000;
  --chat-base-dark: #213547;
  --chat-link-hover-light: #747bff;
  --chat-button-bg-light: #f9f9f9;
  --chat-shadow: rgba(0, 0, 0, 0.14);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: var(--chat-text-black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--chat-link);
  text-decoration: inherit;
}

a:hover {
  color: var(--chat-link-hover);
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  width: 100%;
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
}

button {
  border-color: transparent;
}

.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 10px 10px;
  font-size: 13px;
  background-color: var(--chat-accent);
  cursor: pointer;
  color: var(--chat-white);
}
.button--link {
  background-color: transparent;
  border: none;
  color: var(--chat-link);
}
button:hover {
  border-color: var(--chat-button-hover-border);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.button--red {
  color: var(--chat-danger);
}
.button--full {
  width: 100%;
}

@media (prefers-color-scheme: light) {
  /* TODO: Подумать над темной темой */
  :root {
    color: var(--chat-base-dark);
    background-color: var(--chat-white);
  }
  a:hover {
    color: var(--chat-link-hover-light);
  }
  button {
    background-color: var(--chat-button-bg-light);
  }
}

.border-bottom {
  border-bottom: 1px solid var(--chat-border-grey);
}

.notification-bubble {
  background-color: var(--chat-accent);
  display: flex;
  align-items: center;
  justify-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

textarea,
input[type='text'],
input[type='number'],
input[type='search'],
input[type='password'] {
  padding: 8px 16px;
  background-color: var(--chat-input-bg);
  border-radius: 30px;
  border: 1px solid var(--chat-border-grey);
  font-size: 12px;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.avatar--sm {
  width: 34px;
  height: 34px;
}

.avatar--md {
  width: 47px;
  height: 47px;
}

.avatar--lg {
  width: 130px;
  height: 130px;
}

.back-to {
  background-color: var(--chat-white-soft);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 18px;
  border-right: 1px solid var(--chat-border-grey);
}

.back-to__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: var(--chat-accent);
  transform: rotate(180deg);
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

.back-to__btn:hover {
  background-color: var(--chat-accent-lighten-10);
}

.chat-app__back-to-wrapper {
  display: flex;
  height: 100%;
}

.input-group {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

.input-group label {
  font-size: 12px;
  color: var(--chat-text-grey);
}

.input-group input {
  border: none;
  outline: none;
  font-size: 14px;
  padding: 6px 0;
  background-color: transparent;
}

.input-group .underline {
  display: block;
  height: 1px;
  width: 100%;
  background: var(--chat-accent);
}

.form__input-group-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form {
  border-radius: 12px;
  box-shadow: 0 0 6px var(--chat-shadow);
  width: 340px;
  margin: auto;
  padding: 30px;
}

.form__title {
  text-align: center;
}

.content-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.text-center {
  text-align: center;
}

.login-page-form > .form__input-group-wrapper {
  padding-bottom: 150px;
}

.register-page-form > .form__input-group-wrapper {
  padding-bottom: 50px;
}

.hidden {
  display: none;
}

.error-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error-page__code {
  line-height: 1;
  margin: 0;
}

.error-page__message {
  font-size: 20px;
}

.error-page__link {
  font-size: 11px;
}
