<div class="js-avatar-modal avatar-modal" aria-hidden="true">
  <div
    class="avatar-modal__dialog"
    role="dialog"
    aria-modal="true"
    aria-labelledby="avatar-modal-title"
  >
    <form class="avatar-form" aria-label="Загрузка аватара">
      <h2 id="avatar-modal-title" class="avatar-form__title">Загрузите файл</h2>
      <label class="avatar-form__file">
        <input type="file" name="avatar" accept="image/*" />
        <span class="avatar-form__file-text">Выбрать файл на компьютере</span>
      </label>
      <button class="button avatar-form__submit" type="submit">Поменять</button>
    </form>
  </div>
</div>
