<nav class="chat-app__sidebar sidebar-chat-app" aria-label="Список чатов">
  <header class="sidebar-chat-app__header">
    <div class="sidebar-chat-app__profile-btn-wrapper">
      <a class="sidebar-chat-app__profile-btn" href="/profile">
        <span>Профиль</span><img src="/arrow-right.svg" alt="arrow right" />
      </a>
    </div>
    <form class="sidebar-chat-app__search-form" role="search" aria-label="Поиск чатов">
      <div data-component="chat-search"></div>
    </form>
  </header>
  <ul class="chat-list">
    {{#each chats}}
    {{> chat-sidebar-item}}
    {{/each}}
  </ul>
</nav>
