<nav class="chat-app__sidebar sidebar-chat-app" aria-label="Список чатов">
  <header class="sidebar-chat-app__header">
    <div class="sidebar-chat-app__profile-btn-wrapper">
      <button class="sidebar-chat-app__profile-btn">
        <span>Профиль</span><img src="/arrow-right.svg" alt="arrow right" />
      </button>
    </div>
    <form class="sidebar-chat-app__search-form" role="search" aria-label="Поиск чатов">
      <label class="sidebar-chat-app__search-field">
        <input class="sidebar-chat-app__search-input" type="search" placeholder="Поиск" />
      </label>
    </form>
  </header>
  <ul class="chat-list">
    {{#each chats}}
    {{> chat-sidebar-item}}
    {{/each}}
  </ul>
</nav>
