<div class="chat-app__profile">
  <div class="chat-profile__avatar">
    <img class="avatar avatar--lg" src="{{ avatar }}" alt="Аватар {{ name }}" />
  </div>
  <div class="chat-profile__info">
    <h2 class="chat-profile__name">{{ name }}</h2>
    <span class="chat-profile__email">{{ email }}</span>
  </div>
</div>
