<div class='home-page'>
  <h1>Верстка для первого спринта</h1>
  <ul>
    <li><a href='chat.html'>Чат</a></li>
    <li><a href='profile.html'>Профиль</a></li>
    <li><a href='login.html'>Авторизация</a></li>
  </ul>
</div>