<main class="home-page">
  <h1>Верстка для первого спринта</h1>
  <nav aria-label="Навигация по страницам">
    <ul>
      <li><a href="/chat.html">Чат</a></li>
      <li><a href="/profile.html">Профиль</a></li>
      <li><a href="/login.html">Авторизация</a></li>
      <li><a href="/register.html">Регистрация</a></li>
      <li><a href="/404.html">404</a></li>
      <li><a href="/500.html">500</a></li>
    </ul>
  </nav>
</main>
