<div class="content-center">
  <form class="form form--drop-shadow login-page-form">
    <h2 class="form__title">Вход</h2>

    <div class="form__input-group-wrapper">
      <div class="input-group">
        <label for="login">Логин</label>
        <input id="login" type="text" name="login" />
        <span class="underline"></span>
      </div>

      <div class="input-group">
        <label for="password">Пароль</label>
        <input id="password" type="password" name="password" />
        <span class="underline"></span>
      </div>
    </div>

    <input type="submit" class="button button--full" value="Вход" />
    <p class="text-center"><a href="/">Нет аккаунта?</a></p>
  </form>
</div>
