<main class="content-center">
  <form id="login-form" class="form card">
    <h2 class="form__title">Вход</h2>

    <ul class="form__list-fields">
      {{#each fields}}
      <li class="form__list-fields-item">
        <div data-component="field-{{ name }}"></div>
      </li>
      {{/each}}
    </ul>

    <div class="form__actions">
      <div data-component="login-button"></div>
      <p class="text-center text-sm"><a href="/sign-up">Нет аккаунта?</a></p>
    </div>
  </form>
</main>
