<main class="content-center">
  <form id="register-form" class="form card">
    <h2 class="form__title">Регистрация</h2>

    <ul class="form__list-fields">
      {{#each fields}}
      <li class="form__list-fields-item">
        <div data-component="field-{{ name }}"></div>
      </li>
      {{/each}}
    </ul>

    <div class="form__actions">
      <div class="text-center" data-component="register-button"></div>
      <p class="text-center text-sm"><a href="/login">Войти</a></p>
    </div>
  </form>
</main>
