<main class="content-center">
  <form class="form form--drop-shadow register-page-form">
    <h2 class="form__title">Вход</h2>

    <div class="form__input-group-wrapper">
      <div class="input-group">
        <label for="first_name">Имя</label>
        <input id="first_name" name="first_name" type="text" />
        <span class="underline"></span>
      </div>

      <div class="input-group">
        <label for="second_name">Фамилия</label>
        <input id="second_name" name="second_name" type="text" />
        <span class="underline"></span>
      </div>

      <div class="input-group">
        <label for="login">Логин</label>
        <input id="login" name="login" type="text" />
        <span class="underline"></span>
      </div>

      <div class="input-group">
        <label for="email">Почта</label>
        <input id="email" name="email" type="text" />
        <span class="underline"></span>
      </div>

      <div class="input-group">
        <label for="password">Пароль</label>
        <input id="password" type="password" name="password" />
        <span class="underline"></span>
      </div>

      <div class="input-group">
        <label for="phone">Телефон</label>
        <input id="phone" name="phone" type="text" />
        <span class="underline"></span>
      </div>
    </div>

    <button type="submit" class="button button--full">Зарегистрироваться</button>
    <p class="text-center"><a href="/">Войти</a></p>
  </form>
</main>
